<html>

<body>
<p style="margin-top:50px;font-size:40px;font-family:Calibri;text-align:center;vertical-align:middle;">
Den som ska:
</p>
<p style="font-size:60px;font-family:Calibri;text-align:center;">
{{dtask}}
<br>
<br>
<style="font-size:40px;font-family:Calibri;text-align:center;">är</style>
<br>
</p>
<p style="font-size:80px;font-family:Arial;text-align:center;">{{d_dude.name}} </p>
</div>
<p style="font-size:14px;font-family:Calibri;text-align:center;"><a href="/slump">Tillbaka till start</a></p>
</body>
<html>